# Dependency directories
/node_modules
/.pnp
.pnp.js

# Built output
/dist
/out
/build

# IDE/Editor specific files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Environment variables file
.env

# Logs and debugging files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
debug.log